:root{
    background-color: #ecf5ff;;
    font-family: 'Courier New', Courier, monospace;
}


h3{
    color:#56a5eb
}

#menue{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10em 0;
}

#menue h3{
    font-size: 2.4em;
}

#btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width:15em;
    height:2em;
    font-size: 1.9rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.btn{
    margin-top:1.2em;
    width:20em;
    height:3em;
    border-radius: 5px;
    border:1px groove gray;
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover{
    border-color: black;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}