/*color palattes : https://mycolor.space/?hex=%23150B36&sub=1*/

body{
    background-color:#150b36;
    color:white;
}

.main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#input{
    margin:0 auto;
    margin-top: 5em;
    padding:0.5em;
    display: flex;
    justify-content: space-between;
    background-color:#22154b;
    width:30em;
}

#input #inn{
    border:none;
    /* border-bottom:1px solid #005c8d; */
    background-color:transparent;
    color:white;
    width:24em;
    font-size: 20px;
}

#inn:focus{
    outline:none;
}

#input button{
    background-color:transparent;
    margin-left:1.5em;
    border:none;
}

#list{
    display:flex;
    margin-top: 0.3em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}


.item .btns button{
    font-size: 30px;
}

#todo, #done, #later{
    margin-top:1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theTodo, .theDone, .theLater{
    border-top:4px solid #601f50;
    border-bottom:4px solid #601f50;
    padding:0.5em;
    border-radius: 10px;
}


#done .item span{
    text-decoration: line-through;
}

#done h3{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    justify-content: space-between;
    padding:0.5em;
    width:23em;
    border-radius: 1px;
    border-bottom: 1px groove #601f50;
}

.done{
    background-color:#00c9a2;
    border:none;
}
.delete{
    background-color:#a63f59;
    border:none;
}


h3{
    color:#f9b155;
}

.checked {
    text-decoration:line-through;
    
}

.checked .btns .done{
    display: none;
}

@media only screen and (max-width: 1200px) {
    #list{
        display: flex;
        flex-direction: column;
        margin-bottom:2.3em;
    }

    #todo, #done, #later{
        margin-top:1.3em;
    }

    .item{
        width:10em;
    }

}